@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Plovdiv, Bulgaria<br />
    <abbr title="Phone" class="glyphicon glyphicon-phone-alt"> </abbr>
    (+359)883 300 672
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:krasimir.ts.petkov@gmail.com">krasimir.ts.petkov@gmail.com</a><br />
</address>